body {
  font-family: "Forma DJR Micro", sans-serif !important;
  margin: 0px;
  padding: 0;
  font-size: 20px;
  background-color: #180559 !important;
}

h1 {
  font-family: "Kallisto";
  font-style: normal;
  padding-bottom: 0;
  font-size: 5rem !important;
  color: white;
}

h2 {
  font-family: "Kallisto";
  font-style: normal;
  font-size: 3.25rem !important;
  padding-top: 18px;
  padding-bottom: 0px;
  color: white;
}

h3 {
  font-family: "Kallisto";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem !important;
  padding-top: 18px;
  padding-bottom: 0px;
  color: white;
}

h4 {
  font-family: "Forma DJR Micro", sans-serif !important;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 150%;
  padding-top: 18px;
  padding-bottom: 0px;
  color: white;
}

h5 {
  font-family: "Forma DJR Micro", sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 0px;
  color: white;
}

p {
  font-family: "Forma DJR Micro", sans-serif !important;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  color: white;
}

/* Navigation bar */

/* General */
#navbarNav {
  font-family: "Kallisto";
  font-style: normal;
  background-color: transparent !important;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
  padding-right: 130px;
  column-gap: 24px;
  background-color: transparent !important;
}

.navbar {
  background: rgba(0, 0, 0, 0.1) !important
}

.navbar-brand img {
  padding-right: 20px;
  padding-left: 130px;
  width: auto;
  height: 75px;
}

.nav-item {
  margin: auto;
  line-height: 0.25em;
  padding: 0.75em;
  font-size: 20px;
}
.togglestyle{
  background-color: #ed52bb !important;
}

/* Navigation links */
.customNav a {
  color: white !important;
}

.customNav a:hover {
  color: #ed52bb !important;
  text-decoration: none;
}

.button-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 48px;
  gap: 10px;
  background: #ed52bb;
  border: 0;
  border-radius: 25px;
  color: #fff;
  font-family: "Kallisto";
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.jumbotron {
  background-image: url(images/hero2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(95vh - 25px);
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

.hero-text {
  text-align: left;
  position: relative;
  min-width: 500px;
  max-width: 585px;
  color: white;
  padding-left: 130px;
  align-items: center;
}
.fontchange{
    font-family: 'Kallisto';
    font-style: normal;
    font-weight: 300;
}

.content {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #180559;
}

.content-middle {
    background-color: #180559;
  }

.features {
  justify-content: center;
  text-align: center;
  padding-bottom: 24px;
  margin-bottom: 6%;
}

.row {
  gap: 44px;
  margin-bottom: 120px;
}

.blurb {
  display: flex;
  margin-top: -12%;
  margin-bottom: -5%;
  justify-content: center;
}

.findsongs {
  width: 40%;
  align-self: center;
  transform: translate(50%);
}

.findsongs2 {
    width: 40%;
    align-self: center;
    transform: translate(-40%);
  }

.download-apps {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer {
  height: 50px;
  background-color: #4b29f2;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-top: 5px;
}

.footer-content {
  display: flex;
  font-family: "Forma DJR Micro", sans-serif !important;
  font-style: normal;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.left-section {
  flex-grow: 1;
}

.right-section {
  flex-grow: 0;
}

.right-section a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

#stack1 {
  margin-left: 10%;
  width: 60%;
  margin-bottom: -20px;
}

#stack2 {
  margin-right: 10%;
  width: 60%;
}

.explore {
  margin-top: 1.5%;
}

#featureIcon {
  margin-top: -3.5%;
}

/* CSS for the Back to Top button */
#backToTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #ed52bb;
    font-size: 18px;
    border: #ed52bb;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(23, 25, 25, 0.2);
    transition: all 0.5s ease-in-out;
    z-index: 99;
  }
  
  #backToTop:hover {
    background-color: #ed52bb;
    color: #fff;
  }
  
  #backToTop span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

/* Media query */
  @media screen and (max-width:1400px){
    .blurb {
      display: flex;
      flex-direction: column;
      margin-top: 0% !important;
      margin-bottom: -5%;
      justify-content: center;
    }
    
    .findsongs {
      width: 100%;
      align-self: center;
      transform: translate(0%) !important;
    }
    
    .findsongs2 {
        width: 100%;
        align-self: center;
        transform: translate(0%) !important;
      }

      #stack1 {
        margin-left: 0% !important;
        object-fit: cover;
        margin-bottom: -20px;
        align-self: center;
      }
      
      #stack2 {
        margin-right: 0% !important;
        object-fit: cover;
        align-self: center;
      }
  .wrapper{
    display: flex;
    flex-direction: column-reverse !important;

  }
}
  @media screen and (max-width: 600px){
    .fixed-top {
        padding-right: 20px !important;
    }
    
    .navbar-brand img {
        padding-left: 10px;
    }

    .navbar-nav {
        justify-content: right;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .jumbotron {
        background-image: url(images/hero-small.png);
        height: calc(65vh - 25px);
    }

    h1 {
        font-size: 64px !important;
        margin-top: 48px !important;
    }

    h2 {
        font-size: 48px !important;
    }

    h4 {
        font-size: 34px !important;
    }

    .hero-text {
        text-align: left;
        position: relative;
        min-width: 300px;
        max-width: 375px;
        padding-left: 10px;
        align-items: center;
      }

    .content {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .findsongs {
        padding-left: 30px;
        padding-right: 20px;
      }
      
      .findsongs2 {
        padding-left: 30px;
        padding-right: 20px;
      }

    .download-apps {
        gap: 15px;
    }

    #stack1 {
      height: 90vh;
      width: 100%;
      object-fit: cover;
      margin-bottom: -10px;
      margin-top: -90px;
      padding-left: 0px !important;
      padding-right: 0px !important;
      align-self: center;
    }
    
    #stack2 {
      height: 90vh;
      width: 100%;
      padding-left: 0px !important;
      padding-right: 0px !important;
      object-fit: cover;
      align-self: center;
    }
    
    .footer-content {
    display: flex;
    font-family: "Forma DJR Micro", sans-serif !important;
    font-style: normal;
    font-size: smaller !important;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
  }